@import url(style.css);

pre {
    margin: 0 !important;
    color: white;
    display: block;
    font-size: 13px;
}

.stanza {
    margin-bottom: 5px;
    color: white;
}

input {
    width: 100%;
    border: 2px solid rgba(255, 0, 0, 0);
    transition: 0.2s;
    background-color: var(--neutral-1);
    margin-top: 10px;
    margin-bottom: 0px;
    color: white;
    border-radius: 3px;
}

.input-container {
    height: 30px;
}

.input-container:hover {
    margin-bottom: 10px;
}

.input-container:hover input {
    border: 1.5px solid var(--primary-1);
    margin-top: 10px;
    margin-bottom: 10px;
}

input:focus-visible {
    outline: none;
    border: 1.5px solid rgba(0, 149, 255, 0);
    margin-top: 10px;
    margin-bottom: 0px;
    border-bottom: 1.5px solid var(--primary-1);
}