@import url(style.css);

pre {
    margin: 0 !important;
    display: block;
    font-weight: bold;
    /* height: 20px;
    opacity: 1; */
    height: 0;
    opacity: 0;
    transition: var(--animation);
    position: relative;
    z-index: -1;
}

.show-notes {
    height: 20px;
    opacity: 1;
}

.stanza {
    margin-bottom: 5px;
}

input {
    width: 100%;
    border: 2px solid rgba(255, 0, 0, 0);
    transition: 0.2s;
    background-color: var(--neutral-2);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;

}

input, pre, .stanza, #tone, .button-show {
    font-size: 20px;
}

input, pre, .stanza, #tone, h1, h3 {
    color: white;
}

.input-container {
    height: 30px;
    margin-bottom: 20px;
    transition: var(--animation);
}

.input-container:hover {
    margin-bottom: 10px;
}

.input-container:hover input {
    border: 2px solid var(--primary-1);
    margin-top: 10px;
    margin-bottom: 10px;
}

input:focus-visible {
    outline: none;
    border: 2px solid rgba(0, 149, 255, 0);
    margin-top: 10px;
    margin-bottom: 0px;
    border-bottom: 2px solid var(--primary-1);
}

.container-stanza {
    width: 59%;
    padding-bottom: 500px;
}

.container-video {
    width: 39%;
    position: relative;
    top: 0;
}

.container-video div {
    position: sticky;
    top: 70px;
}

.container-video div button {
    position: relative;
    top: -35px;
    right: 0;
}

#song {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.music-infos {
    display: flex;
    justify-content: space-between;
}

.music-infos, .music-infos div h3 {
    margin-bottom: 15px;
}

.button-show {
    position: relative;
    top: 30px;
    padding: 4px 0 8px 0;
    width: 200px;
    border-radius: 7px;
    color: white;
    background-color: var(--primary-1);
    cursor: pointer;
    height: 50px;
    border: none;
}