* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --primary-1: rgb(0, 149, 255);
    --primary-2: rgb(0, 255, 102);
    
    --neutral-1: rgb(38, 38, 38);
    --neutral-2: rgb(56, 56, 56);
    --animation: 0.2s
}

body {
    background-color: var(--neutral-1);
}

a {
    text-decoration: none;
}

hr {
    margin: 40px 0 40px 0;
}

.container {
    margin: 0 auto;
    padding: 10px 50px 0 50px;
    max-width: 1366px;
}

.container-full {
    width: 100vw;
    height: 50vh;
    overflow-y: hidden;
}

.container-full img {
    background-size: cover;
    width: 100vw;
    position: relative;
    background-position: center;
}

.header-content {
    position: absolute;
    z-index: 1;
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content h1 {
    font-size: 4rem;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.button {
    background-color: white;
}